@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root {
--font: 'Open Sans', sans-serif;

  --background-default: #f5f4f0;
  --border-primary: #d9d9d9;

  --text-primary: #1B1B1B;
  --text-secondary: #333333;
  --text-tertiary: #696969;
  --text-headline: #e1624f;

  --accent-blue: #0c51a7;
  --accente-orange: #e95e10;
  --accent-pink: #e5245e;
  --accent-purple: #591b98;
}

* {
  width: 1280px;
  box-sizing: border-box;
}

body {
  height: 3279px;
}

.title_page {
  margin-top: 176px;
  margin-left: 160px;
  margin-bottom: 80px;
}

.title_page p {
  color: var(--text-headline);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: var(--font);
  margin-bottom: 0;
}

.title_page h1 {
  font-family: var(--font);
  font-size: 36px;
  font-weight: bold;
  margin-top: 5px;
}

.description_image {  
  margin-left: 160px;
}

.imagem {
  width: 1700px;
  height: 900px;
  border-radius: 28px;
}

